[tasks.server-components]
dependencies = [
	"build-data-collector-git-docker",
	"build-report-parser-git-docker",
	"build-slack-connector-git-docker"
]

[tasks.tools]
dependencies = [
	"build-data-forwarder-musl",
	"build-bundler-audit-docker",
	"build-safety-docker"
	"build-yarn-audit-docker"
]

[tasks.cli]
command = "cargo"
args = ["make", "--cwd", "cli", "build-kiln-cli"]

[tasks.build-data-collector-git-docker]
command = "cargo"
args = ["make", "--cwd", "data-collector", "build-data-collector-git-docker"]

[tasks.build-report-parser-git-docker]
command = "cargo"
args = ["make", "--cwd", "report-parser", "build-report-parser-git-docker"]

[tasks.build-slack-connector-git-docker]
command = "cargo"
args = ["make", "--cwd", "slack-connector", "build-slack-connector-git-docker"]

[tasks.build-data-forwarder-musl]
command = "cargo"
args = ["make", "--cwd", "data-forwarder", "build-data-forwarder-musl"]

[tasks.build-bundler-audit-docker]
command = "cargo"
args = ["make", "--cwd", "tool-images/ruby/bundler-audit", "build-bundler-audit-docker"]

[tasks.build-safety-docker]
command = "cargo"
args = ["make", "--cwd", "tool-images/python/safety", "build-safety-docker"]


[tasks.build-yarn-audit-docker]
command = "cargo"
args = ["make", "--cwd", "tool-images/javascript/yarn-audit", "build-yarn-audit-docker"]
