[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pygithub = "*"
semver = "*"
dulwich = {editable = true, ref = "specify-key-when-signing", git = "https://github.com/danhatesnumbers/dulwich.git"}
toml = "*"
sh = "*"
gpg = "*"
docker = "*"
whatthepatch = "*"

[dev-packages]

[requires]
python_version = "3.9"
