[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pygithub = "*"
semver = "*"
dulwich = {editable = true, ref = "76dd8356f9d8870f44226e4232c24fbc1e573e93", git = "https://github.com/dulwich/dulwich.git"}
toml = "*"
sh = "*"
gpg = "*"
docker = "*"
whatthepatch = "*"

[dev-packages]

[requires]
python_version = "3.9"
