[package]
name = "data-collector"
version = "0.1.0"
edition = "2018"

[dependencies]
chrono = "0.4"
actix-web = "1.0"
bytes = "0.4"
futures = "0.1"
http = "0.1"
kiln_lib = { git = "https://github.com/simplybusiness/Kiln", branch = "master" }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
kafka = "0.8"
addr = "0.2"
openssl = "0.10"
failure = "0.1"
avro-rs = "0.6"
env_logger = "0.7"
libflate = "0.1.19"
libusb = "0.2.2"

[dev-dependencies]
serial_test = "0.1"
serial_test_derive = "0.1"
